body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#quote-row-container {
	margin-bottom: 0px;
}

#footer-container {
	background-color: #607d8b;
}

@media print, screen and (max-width: 880px) {
	#footer-email {
		float: left !important;
	}
}